In [1]:
import pandas as pd
import numpy as np

# 输入一些数据（字典格式）
data = {
    "weather":[[[65, 70, 64, 67],[65, 70, 64, 67],[65, 70, 64, 67],[65, 70, 64, 67]],[[65, 70, 64, 67],[65, 70, 64, 67],[65, 70, 64, 67],[65, 70, 64, 67]]],
    "table":[1,2]
}
# 将字典格式转化为DataFrame格式
df = pd.DataFrame(data)
# 打印DataFrame
print(df)
# 进行一些操作
# df['身高'] = df['身高']+1
# print(df)
# 存储为CSV文件
df.to_csv('1.csv')       # 相对地址
# df.to_csv('E:/data.csv')    # 绝对地址格式1
# df.to_csv(r'E:\data.csv')   # 绝对地址格式2
# df.to_csv('E:\\data.csv')   # 绝对地址格式3

                                             weather  table
0  [[65, 70, 64, 67], [65, 70, 64, 67], [65, 70, ...      1
1  [[65, 70, 64, 67], [65, 70, 64, 67], [65, 70, ...      2

In [2]:
df = pd.read_csv('formatweather.csv')

In [3]:
df.shape

(43823, 10)

In [4]:
df.values[0]

array([1.        , 0.09920847, 0.27941176, 0.13114753, 0.54545456,
       0.33333334, 0.00229001, 0.        , 0.        , 0.09920847])

In [31]:
import csv

In [55]:
trainlen=df.shape[0]-8
with open('2.csv','a',encoding='utf-8',newline='') as f:
    writer=csv.writer(f,dialect='excel')
    writer.writerow(['data','label'])
    for t in range(trainlen):  #0-----43823-8
        trainx=[df.values[t:t+8,1:9]]  #1-8列  0-7行
        label=[df.values[t+7,9]]       #9列     7行
        
        #print([df.values[t:t+8,1:10]],label)
        writer.writerow([trainx,label])

In [51]:
(np.array(trainx)).shape

(8, 8)

In [37]:
trainx

[array([[2.91750500e-02, 2.20588240e-01, 9.83606600e-02, 8.00000000e-01,
         0.00000000e+00, 7.48526000e-02, 0.00000000e+00, 0.00000000e+00],
        [3.42052300e-02, 2.20588240e-01, 1.14754096e-01, 8.00000000e-01,
         0.00000000e+00, 8.47816800e-02, 0.00000000e+00, 0.00000000e+00],
        [4.22535200e-02, 2.35294120e-01, 1.31147530e-01, 8.00000000e-01,
         0.00000000e+00, 9.31897800e-02, 0.00000000e+00, 0.00000000e+00],
        [2.81690140e-02, 2.35294120e-01, 1.47540990e-01, 7.81818200e-01,
         0.00000000e+00, 1.00059815e-01, 0.00000000e+00, 0.00000000e+00],
        [3.62173020e-02, 2.64705900e-01, 1.47540990e-01, 7.63636350e-01,
         3.33333340e-01, 6.10099970e-03, 0.00000000e+00, 0.00000000e+00],
        [4.82897400e-02, 2.64705900e-01, 1.63934420e-01, 7.63636350e-01,
         3.33333340e-01, 9.16004500e-03, 0.00000000e+00, 0.00000000e+00],
        [4.92957760e-02, 2.64705900e-01, 1.80327860e-01, 7.63636350e-01,
         1.00000000e+00, 7.51943970e-04, 0.00000000e+00, 0.00000000e+00],
        [5.23138830e-02, 2.64705900e-01, 1.80327860e-01, 7.63636350e-01,
         3.33333340e-01, 2.29001120e-03, 0.00000000e+00, 0.00000000e+00]])]

In [38]:
label

[0.056338027]

In [52]:
df1 = pd.read_csv('1.csv')

In [50]:
df1.values[0,1]

'[0.020120725]'

In [53]:
df1

                                                 data          label
0   [[2.01207250e-02 2.05882360e-01 8.19672100e-02...            NaN
1     0.00000000e+00 6.64445000e-02 0.00000000e+00...            NaN
2    [2.91750500e-02 2.20588240e-01 9.83606600e-02...            NaN
3     0.00000000e+00 7.48526000e-02 0.00000000e+00...            NaN
4    [3.42052300e-02 2.20588240e-01 1.14754096e-01...            NaN
5     0.00000000e+00 8.47816800e-02 0.00000000e+00...            NaN
6    [4.22535200e-02 2.35294120e-01 1.31147530e-01...            NaN
7     0.00000000e+00 9.31897800e-02 0.00000000e+00...            NaN
8    [2.81690140e-02 2.35294120e-01 1.47540990e-01...            NaN
9     0.00000000e+00 1.00059815e-01 0.00000000e+00...            NaN
10   [3.62173020e-02 2.64705900e-01 1.47540990e-01...            NaN
11    3.33333340e-01 6.10099970e-03 0.00000000e+00...            NaN
12   [4.82897400e-02 2.64705900e-01 1.63934420e-01...            NaN
13    3.33333340e-01 9.16004500e-03 0.00000000e+00...            NaN
14   [4.92957760e-02 2.64705900e-01 1.80327860e-01...            NaN
15    1.00000000e+00 7.51943970e-04 0.00000000e+00...  [0.052313883]
16  [[2.91750500e-02 2.20588240e-01 9.83606600e-02...            NaN
17    0.00000000e+00 7.48526000e-02 0.00000000e+00...            NaN
18   [3.42052300e-02 2.20588240e-01 1.14754096e-01...            NaN
19    0.00000000e+00 8.47816800e-02 0.00000000e+00...            NaN
20   [4.22535200e-02 2.35294120e-01 1.31147530e-01...            NaN
21    0.00000000e+00 9.31897800e-02 0.00000000e+00...            NaN
22   [2.81690140e-02 2.35294120e-01 1.47540990e-01...            NaN
23    0.00000000e+00 1.00059815e-01 0.00000000e+00...            NaN
24   [3.62173020e-02 2.64705900e-01 1.47540990e-01...            NaN
25    3.33333340e-01 6.10099970e-03 0.00000000e+00...            NaN
26   [4.82897400e-02 2.64705900e-01 1.63934420e-01...            NaN
27    3.33333340e-01 9.16004500e-03 0.00000000e+00...            NaN
28   [4.92957760e-02 2.64705900e-01 1.80327860e-01...            NaN
29    1.00000000e+00 7.51943970e-04 0.00000000e+00...            NaN
30   [5.23138830e-02 2.64705900e-01 1.80327860e-01...            NaN
31    3.33333340e-01 2.29001120e-03 0.00000000e+00...  [0.056338027]