In [43]:
import pymysql
 
# 打开数据库连接
db = pymysql.connect(host="62.234.149.37",user="root",passwd="smile",db="testdb" ,charset='utf8')#########一定要重启mysql
####(host='127.0.0.1',user='root',passwd='root',db='pmdb',charset='utf8')

In [44]:
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()
 
# 使用 execute() 方法执行 SQL，如果表存在则删除
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")
 
# 使用预处理语句创建表
sql = """CREATE TABLE EMPLOYEE (
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,  
         SEX CHAR(1),
         INCOME FLOAT )"""
 
cursor.execute(sql)

0

In [45]:

# SQL 插入语句
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES ('Mac3', 'Mohan1', 210, 'M', 20100)"""
try:
   # 执行sql语句
   cursor.execute(sql)
   # 提交到数据库执行
   db.commit()
except:
   # 如果发生错误则回滚
   db.rollback()

In [60]:
# 使用 execute() 方法执行 SQL，如果表存在则删除
cursor.execute("DROP TABLE IF EXISTS DANGDANGBOOK")
 
# 使用预处理语句创建表
sql = """CREATE TABLE DANGDANGBOOK(
       booktitle VARCHAR(20) ,
       publicationtime VARCHAR(10) ,
       author VARCHAR(20),
       press VARCHAR(15), 
       bookprice FLOAT,
       bookdetail VARCHAR(100),
       Gclass VARCHAR(10),
       sclassion VARCHAR(10)
    )ENGINE=InnoDB  DEFAULT CHARSET=utf8"""
  
##PRIMARY KEY ( `booktitle` )
cursor.execute(sql)

bookinfo=['毛泽东传','1945年','何夕','东方出版社',12.98,'关于哈桑结婚登记大号i互斥哦啊是','历史','近代史']
# SQL 插入语句
'''sql = """INSERT INTO DANGDANGBOOK(
   booktitle)
   VALUES (bookinfo[0])"""
'''
sql = "INSERT INTO DANGDANGBOOK(booktitle,publicationtime,author,press,bookprice,bookdetail,Gclass,sclassion )\
       VALUES ('%s','%s','%s','%s','%f','%s','%s','%s')" % \
       (bookinfo[0],bookinfo[1],bookinfo[2],bookinfo[3],bookinfo[4],bookinfo[5],bookinfo[6],bookinfo[7])
##publicationtime,author,press, bookprice,bookdetail,Gclass,sclassion
#,'1945年','何夕','东方出版社',12.98,'关于哈桑结婚登记大号i互斥哦啊是','历史','近代史'
try:
   # 执行sql语句
   cursor.execute(sql)
   # 提交到数据库执行
   db.commit()
except:
   # 如果发生错误则回滚
   db.rollback()
   print("erro")

In [40]:
# 关闭数据库连接
db.close()

In [61]:
555

555